.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .mainContent {
    flex: 1; /* Bach y-pousser footer l ta7t ga3 */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 20px;
  }